<div class="jumbotron">
	<div class="container">
		<h1>Welcome to MoliVille!</h1>
		<p>...</p>
		<p>
			<a class="btn btn-primary btn-lg" href="#/learnmore" role="button">Learn more</a>
		</p>
	</div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img style="min-height:200px;height:200px;" src="http://img.auctiva.com/imgdata/5/3/3/4/8/3/webimg/797959235_o.jpg?nc=91">
      <div class="caption">
        <h3>SkinFood Black Sugar Wash Off Mask</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-default" role="button">More Info...</a> <a href="#" class="btn btn-primary pull-right" role="button">Buy</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img style="min-height:200px;height:200px;" src="http://img.auctiva.com/imgdata/5/3/3/4/8/3/webimg/798207688_o.jpg?nc=918">
      <div class="caption">
        <h3>SkinFood Peach Sake Powder</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-default" role="button">More Info...</a> <a href="#" class="btn btn-primary pull-right" role="button">Buy</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img style="min-height:200px;height:200px;" src="http://img.auctiva.com/imgdata/5/3/3/4/8/3/webimg/798216714_o.jpg?nc=126">
      <div class="caption">
        <h3>SkinFood Rice Wash Off Mask</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-default" role="button">More Info...</a> <a href="#" class="btn btn-primary pull-right" role="button">Buy</a></p>
      </div>
    </div>
  </div>
</div>